body.gsb-grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

body.gsb-color {

}

.gsb-switcher {
  height: 32px;
  width: 82px;
  position: fixed;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 999;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gsb-switcher:active {
  border: 1px solid #868686;
}

.gsb-switcher.top-left {
  top: 12px;
  left: 12px;
}

.gsb-switcher.top-right {
  top: 12px;
  right: 12px;
}

.gsb-switcher.bottom-left {
  bottom: 12px;
  left: 12px;
}

.gsb-switcher.bottom-right {
  bottom: 12px;
  right: 12px;
}

.gsb-switcher:after {
  height: 100%;
  width: 100%;
  line-height: 30px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  display: block;
}

.gsb-switcher.grayscale:after {
  content: 'Color';
}

.gsb-switcher.color:after {
  content: 'Grayscale';
}
